<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--c3p0数据库连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
<!--        c3p0数据库驱动-->
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
<!--        访问的数据库url，参数数据库，时区，字符编码-->
        <property name="jdbcUrl" value="jdbc:mysql://120.55.81.169:3306/smmcar?serverTimezone=GMT%2B8&amp;useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
<!--        数据库的登入名和密码-->
        <property name="user" value="smmcar"/>
        <property name="password" value="968426"/>
    </bean>
    <!--    sqlSessionFactory，用于创建sqlSession-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
<!--       绑定c3p0数据库连接池-->
        <property name="dataSource" ref="dataSource" />
        <!--        绑定mybatis配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>
<!--    自动扫描 将Mapper接口生成代理注入到Spring 注意此处的value相当于ref-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--      注入sqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"  />
        <!--      扫描的包-->
        <property name="basePackage" value="com.jie.mapper"/>
    </bean>
</beans>
